body 
{
    padding: 30px;
    
    
}
.block{
    background: whitesmoke;
    height: 60px;
    border: 1px;
    border-radius: 10px 40px;
    box-shadow: 0 0 5px #000;
    background-repeat: repeat-x;
    background-position: 50%50%;
    font-size: 50px;
    font-style: oblique;
    color: black; 
}
.right{
  height: 100%;
  box-shadow: 0 0 5px #000;
  background: whitesmoke;
  display: flexbox;
}
.right2
{
  height: 300px;
  width: 250px ;
  margin-left: auto;
  background: rgb(43, 43, 48);
  font-size: 20px;
  color: rgb(172, 163, 163);
  padding-bottom: 30px;
}
.right3
{
    min-height: 100px;
    max-height: 100%;
    width: 250px ;
    margin-left: auto;
    background: rgb(73, 73, 69);
    color: white;
    
}
.icon
{
    display: block;
    margin:  auto;
}
.about
{
    font-size: 30px;
    color: white;
    font-style: initial;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.text
{
    font-size: 25px;
    font-weight: normal;
    font-style: initial;
    font-family: Verdana, sans-serif;
}
.afterText
{
    color: rgb(172, 163, 163);
    font-size: 12px;
    margin-top: 1.5px;
    line-height: 15px;
    padding: 5px;
}
.otd
{
 font-size: 20px;
 font-family: 'Times New Roman', Times, serif;
 line-height: 1px;
 padding: 5px;
 margin-bottom: 1.5px;
}
.informationAbout
{
    
}
a
{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
a:hover
{
    color:black;
};
